{% extends 'base.html' %}


{% block content %} 

<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
				<style>
					body 
					{
					  background-image: url('https://q-cf.bstatic.com/images/hotel/max1024x768/132/132905656.jpg');
					  background-repeat: no-repeat;
					  background-attachment: fixed;
					  background-size: 100% 100%;
					}
				</style>

				<form method="post"  action="submit">
				{% csrf_token %}
				<h1>Check Room Availability</h1>
					<div style="display: flex; padding-bottom: 18px;width : 450px;">
						<div style="padding-bottom: 18px;">Arrival date<span style="color: red;"> *</span><br/>
							<input type="date" placeholder="Select Date Here" id="data_5" name="data_5"   style="width : 250px;" class="form-control" required/>
							
						</div>
					</div>
					<div style="padding-bottom: 18px;">Select Your Time Slot<span style="color: red;"> *</span><br/>

							<select type="text" id="data_6" name="data_6" style="width : 250px;" class="form-control">
							
							  <option value="8:00-9:00">8:00-9:00</option>
							  <option value="9:00-10:00">9:00-10:00</option>
							  <option value="10:00-11:00">10:00-11:00</option>
							  <option value="11:00-12:00">11:00-12:00</option>
							  <option value="12:00-13:00">12:00-13:00</option>
							  <option value="13:00-14:00">13:00-14:00</option>
							  <option value="14:00-15:00">14:00-15:00</option>
							  <option value="15:00-16:00">15:00-16:00</option>
							  <option value="16:00-17:00">16:00-17:00</option>
							  <option value="17:00-18:00">17:00-18:00</option>
							  <option value="18:00-19:00">18:00-19:00</option>
							  <option value="19:00-20:00">19:00-20:00</option>
							  <option value="20:00-21:00">20:00-21:00</option>
							  <option value="21:00-22:00">21:00-22:00</option>
							  <option value="22:00-23:00">22:00-23:00</option>
							</select>
					</div>

					<div style="padding-bottom: 18px;"><input name="Submit" value="Submit" type="submit"/>
					</div>
				</form>
						    


</body>
</html>



{% endblock %}