

{% extends 'base.html' %}



{% block content %} 


			<style>
				body 
				{
				  background-image: url('https://q-cf.bstatic.com/images/hotel/max1024x768/132/132905656.jpg');
				  background-repeat: no-repeat;
				  background-attachment: fixed;
				  background-size: 100% 100%;
				}
			</style>
			
			
				<h1>Your Room has been booked successfully</h1>	
				<h2>Your Room details are as below.</h2>
				{% for detail in details %}

				
					<div style="display: flex; padding-bottom: 18px;width : 450px;">
						<div style=" margin-left : 0; margin-right : 1%; width : 49%;">First name<br/>
						<input type="text" style="width: 100%;"  value="{{ detail.Firstname}}" class="form-control"/>	
						</div>
						<div style=" margin-left : 1%; margin-right : 0; width : 49%;">Last name<br/>
							<input type="text" style="width: 100%;" class="form-control" value="{{ detail.Lastname}}" />
						</div>
					</div>

					<div style="padding-bottom: 18px;">Phone<br/>
						<input type="text"  style="width : 450px;" class="form-control" value="{{ detail.Phone}}" />
					</div>

					<div style="padding-bottom: 18px;">Email<br/>
						<input type="text"  style="width : 450px;" value="{{ detail.Email}}" class="form-control"/>
					</div>
					<div style="padding-bottom: 18px;">Arrival Date<br/>
						<input type="text"  style="width : 450px;" value="{{ detail.Email}}" class="form-control"/>
					</div>
					
					
					<div style="padding-bottom: 18px;">Number of adults<br/>
						<input type="number" style="width : 250px;" value="{{ detail.Numberofadults}}" class="form-control"/>
					</div>
					<div style="padding-bottom: 18px;">Number of children<br/>
						<input type="number" value="{{ detail.Numberofchildren}}" style="width : 250px;" class="form-control"/>
					</div>
					<div style="padding-bottom: 18px;">Questions / Comments<br/>
						<textarea  style="width : 450px;" rows="6" >
							{{detail.Comments}}
						</textarea>
					</div>
				{% endfor %}
			
			
				
				
				
				
				
				
			


{% endblock %}



